<ul class="list-group" *ngIf="loaded && logs.length > 0; else msg">
  <li
    *ngFor="let log of logs"
    class="list-group-item d-flex justify-content-between align-items-center"
    [class.list-group-item-secondary]="log.id === selectedLog.id"
  >
    <a (click)="onSelect(log)" href="#">{{ log.text }}</a>
    <div>
      <span class="log-date me-5">{{ log.date | date: "short" }}</span>
      <i (click)="onDelete(log)" class="fa fa-remove"></i>
    </div>
  </li>
</ul>
<ng-template #msg
  ><p class="lead">There are no logs in the system</p></ng-template
>

<div *ngIf="!loaded">Loading...</div>
