<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col">
        <input
          type="text"
          name="text"
          [(ngModel)]="text"
          class="form-control"
          placeholder="Add a log..."
        />
      </div>
    </div>

    <input
      type="submit"
      value="Add log"
      class="btn btn-light me-3"
      [disabled]="!this.text"
    />

    <button type="button" class="btn btn-warning" [hidden]="!this.text">
      Clear
    </button>
  </form>
</div>
